@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.body-page {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

.container {
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.button {
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;

  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #68A2CA;
}

.button:focus {
  border: 3px solid #756257;
}

.button:active {
  opacity: 0.3;
}

.button-brown {
  background-color: #756257;
}

.button-brown:hover,
.button-brown:focus,
.button-brown:active {
  background-color: #615048;
}

.button-brown:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-brown:active {
  opacity: 0.3;
}

.button-header {
  width: 160px;
  height: 37px;
  text-align: center;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1076px;
  margin: 0 auto;
  justify-content: space-between;
}

.navigation-list {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  margin-right: 15px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  position: relative;
}

.navigation-link {
  position: relative;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;

  padding-left: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 9px;
}


.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active {
  color: #756257;
}

.navigation-link:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link-current::before {
  position: absolute;
  right: 7px;
  bottom: -19px;
  left: 9px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.logo-main {
  min-width: 138px;
  z-index: 1;
  align-self: center;
  padding-top: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: -25px;
  display: flex;
  justify-content: center;
}

.logo-main img {
  display: block;
  width: 100%;
  height: auto;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-user {
  justify-content: end;
  margin-bottom: 1px;
}

.navigation-user .navigation-item {
  margin-right: 5px;
  margin-left: 2px;
  margin-top: 5px;
}

.navigation-user .navigation-item:last-of-type {
  margin-right: 10px;
  margin-left: 21px;
}

.navigation-user .navigation-link {
  padding: 16px;
}

.favorite-quantity {
  width: 19px;
  height: 19px;
  position: absolute;
  transform: translate(3px, -19px);
  background-color: #7DB54F;
  border-radius: 50%;
  border: none;

  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;

  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-description {
  width: 160px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
}

.main-index {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentation {
  background: url("../img/decoration-elements/decor-zigzag.svg") bottom no-repeat,
    url("../img/background-mountains.jpg") top no-repeat;

  background-color: #756257;
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  order: -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-sedona {
  padding-top: 50px;
  padding-bottom: 80px;
  display: block;
}

.main-title {
  width: 720px;
  margin: 0 auto;
  margin-top: 61px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.reasons {
  width: 720px;
  margin: 0;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 81px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

.advantage-list {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(4, 384px);
}

.advantage-first {
  list-style-type: none;
  grid-column: 1/4;
  grid-row: 1/3;

  display: grid;
  grid-template-columns: 400px 800px;
  grid-template-rows: repeat(2, 384px);
}

.advantage-first .advantage-blue {
  grid-column: 1/4;
  grid-row: 1/2;
}

.advantage-blue {
  background-color: #83B3D3;
  grid-column: 1/4;

  display: flex;
}

.advantage-item {
  list-style-type: none;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  min-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-blue .advantage-item {
  grid-column: 1/2;
}

.picture-sedona {
  grid-column: 2/4;
  display: block;
}

.advantage-title {
  margin: 0;
  margin-top: 98px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  width: 190px;
}

.font-white {
  color: #FFFFFF;
}

.number-advantage {
  margin: 0;
  padding: 0;
  margin-top: 28px;
}

.advantage-description {
  margin: 0;
  margin-top: 28px;
  padding: 0;
  width: 230px;
}

.recommendations-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  grid-column: 1/4;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.recommendation-description {
  margin-top: 19px;
}


.advantage-gray {
  background: rgba(131, 179, 211, 0.12);
}

.recommendations-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.recommendation-title {
  margin-top: 184px;
  position: relative;
}

.advantage-house::before {
  content: url("../img/icons/house.svg");
  display: block;
  width: 75px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -38px;
  top: -97px;
}

.advantage-burger::before {
  content: url("../img/icons/burger.svg");
  display: block;
  width: 74px;
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left: -37px;
  top: -94px;
}

.advantage-present::before {
  content: url("../img/icons/present.svg");
  display: block;
  width: 74px;
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left: -37px;
  top: -101px;
}

.advantage-darkgray {
  background: rgba(131, 179, 211, 0.2);
}

.search-hotel {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-search-hotel {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  margin: 0;
  margin-top: 88px;
}

.search-hotel p:nth-of-type(2) {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-top: 30px;
}

.search-hotel .button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
  width: 575px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  box-sizing: border-box;
  margin-top: 58px;
  margin-bottom: 91px;
}

.section-newsletter {
  color: #FFFFFF;
  background-color: #756257;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  align-items: center;
}

.newletter-image {
  background-image: url("../img/background-washed-out.jpg");
  background-repeat: no-repeat;
  background-color: #756257;
  color: #FFFFFF;
  background-size: 100%;
}

.sing-up {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
  margin-top: 94px;
}

.sing-up-description {
  width: 500px;
  margin: 0;
  margin-top: 29px;
  text-align: center;
}

.newsletter-form {
  display: flex;
  width: 800px;
  margin-top: 46px;
  margin-bottom: 94px;
}

.field-email {
  display: flex;
  width: 600px;
  height: 60px;
  padding-right: 22px;
  padding-left: 22px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
  border: none;
  background: #F2F2F2;
}

::placeholder {
  font-family: PT Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
}

.newsletter-button {
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
}

.footer-container {
  display: flex;
  width: 1076px;
  padding: 0;
  margin: 0 auto;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.footer-social {
  width: 270px;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  display: flex;
}

.facebook-item {
  margin-right: 5px;
}

.social-link {
  position: relative;
  padding: 20px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-contacts-address {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-contacts-address-phone {
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  color: #000000;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px
}

.htmlacademy {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  justify-content: flex-end;
}

.htmlacademy-link {
  position: relative;
  width: 115px;
  height: 34px;
  padding-top: 42px;
  padding-bottom: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

.htmlacademy-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.main-catalog {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  width: 1200px;
}

.choice-hotels {
  background-image: url("../img/catalog/background-mountains.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #756257;
  background-size: 100%;
  flex-direction: column;
  margin-bottom: 44px;
  padding-left: 65px;
  padding-right: 72px;
  padding-bottom: 65px;
  display: flex;
}

.inner-header-title {
  font-size: 60px;
  line-height: 67px;
  font-weight: 700;
  padding: 0;
  padding-left: 6px;
  margin: 0;
  padding-top: 38px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 42px;
  position: relative;
}

.breadcrumbs-item {
  margin-right: 18px;
  display: flex;
  align-items: center;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  position: relative;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.home {
  width: 28px;
  height: 27px;
}

.breadcrunbs-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #FFFFFF;
}

.breadcrumbs-item:first-of-type::before {
  content: url("../img/icons/right-arrow.svg");
  position: absolute;
  left: 31px;
  width: 5px;
  height: 8px;
  top: 0px;
}

.catalog-filter {
  display: flex;
  margin-left: 6px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
}

.catalog-filter-group:nth-child(1) {
  margin-right: 67px;
}

.catalog-filter-group:nth-child(2) {
 margin-right: 168px;
}

.catalog-filter-group:nth-child(3) {
  margin-right: 80px;
}

.catalog-filter-group:nth-child(4) {
  display: grid;
}

.catalog-filter-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 30px;
}

.price-title {
  margin-bottom: 33px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-item {
  padding-left: 40px;
  padding-bottom: 13px;
}

.price {
  display: flex;
}

.catalog-filter-input {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  border: 2px solid #FFFFFF;
  padding-top: 11px;
  padding-left: 17px;
  padding-bottom: 14px;
  padding-right: 10px;
  width: 114px;
}

.input-from {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-to {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}

.search-parameters {
  background-color: #E5E5E5;
}

.submit-apply {
  min-width: 160px;
  height: 48px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;

  background: #83B3D3;
  border-radius: 4px;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  min-width: 160px;
  justify-content: center;
  border: none;
  margin-top: 61px;
}

.submit-apply:hover,
.submit-apply:focus,
.submit-apply:active {
  background-color: #68A2CA;
}

.submit-apply:focus {
  border: 3px solid #FFFFFF;
  border-radius: 4px;
}

.submit-apply:active {
  opacity: 0.3;
}

.reset-apply {
  color: #FFFFFF;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  min-width: 100px;
  height:32px;
  border: none;
}

.button-transparent:hover {
  opacity: 0.6;
}

.button-transparent:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-transparent:active {
  opacity: 0.3;
}

.output-area,
.hoteloutput {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.search-results {
  width: 1057px;
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 42px;
}

.output-area {
  min-width: 528px;
}

.output-field {
  margin: 0;
  padding: 0;
}

.select-control {
  display: flex;
  width: 287px;
  padding-top: 9px;
  padding-right: 13px;
  padding-bottom: 10px;
  padding-left: 13px;
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  border-radius: 4px;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #333333;
}

.visually-card-hotel {
  display: flex;
  margin-left: 71px;
}

.button-gray {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-left: 9px;
  background-position: center;
  display: flex;
  width: 44px;
  height: 44px;
}

.card-grid-toggle {
  border: 2px solid #000000;
  border-radius: 4px;
}

.title {
  background-image: url("../img/decoration-elements/title.svg");
  background-repeat: no-repeat;
}

.item {
  background-image: url("../img/decoration-elements/item.svg");
  background-repeat: no-repeat;
}

.list {
  background-image: url("../img/decoration-elements/list.svg");
  background-repeat: no-repeat;
}

.hotel-cards {
  width: 1200px;
  margin: 0;
  padding: 0;
  padding-left: 71px;
  padding-right: 71px;
  box-sizing: border-box;
}

.hotel-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
}


.hotel-card {
  padding: 0;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 30px;
  border-top: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: 180px 21px 150px auto min-content;
  grid-template-rows: min-content auto min-content;
  column-gap: 8px;
}

.hotel-card-image {
  width: 100%;
  height: auto;
  grid-row: 1/-1;
  grid-column: 1/2;
  display: block;
}

.hotel-card-link {
  text-decoration: none;
  font-size: 21px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;

  align-self: start;
  margin-bottom: 2px;

  grid-row: 1/2;
  grid-column: 3/5;
}

.product-card-title {
  margin: 0;
  padding: 0;
}

.habitation {
  margin: 0;
  grid-row: 2/3;
  grid-column: 3/5;
  margin-bottom: 32px;
}

.start-price {
  margin: 0;
  grid-row: 2/3;
  grid-column: 4/5;
}

.hotel-card .button {
  margin: 0;
  margin-right: auto;
  width: 160px;
  height: 37px;
  display: block;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 11px;
  display: flex;
  justify-content: center;

  grid-row: 3/4;
  grid-column: 4/5;
}

.hotel-card .button-brown {
  margin: 0;
  width: 151px;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;

  grid-row: 3/4;
  grid-column: 3/4;
}

.button-green {
  background-color: #7DB54F;
}

.button-green:hover,
.button-green:focus,
.button-green:active {
  background-color: #6C9E42;
}

.button-green:focus {
  border: 3px solid #756257;
}

.button-green:active {
  opacity: 0.3;
}

.rating {
  grid-row: 1/2;
  grid-column: -2/-1;
  justify-self: center;
  margin-top: 5px;
}

.rating-four {
  background-image: url("../img/decoration-elements/star.svg");
  width: 88px;
  background-repeat: space;
}

.rating-three {
  background-image: url("../img/decoration-elements/star.svg");
  width: 68px;
  background-repeat: space;
}

.rating-two {
  background-image: url("../img/decoration-elements/star.svg");
  width: 44px;
  background-repeat: space;
}

.rating-description {
  background-color: #F2F2F2;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  width: 160px;
  padding-top: 7px;
  padding-bottom: 7px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
  grid-row: 3/4;
  grid-column: -2/-1;
}

.download-more {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  padding-top: 31px;
  padding-bottom: 30px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 31px;
}

.button-download {
  padding-top: 13px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  box-sizing: border-box;
  min-width: 625px;
  justify-content: center;
  font-size: 20px;
  line-height: 26px;
}

.pagination-hotels {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 1057px;
  margin: 0 auto;
  box-sizing: border-box;
}

.pagination {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  border: 3px solid #756257;
}

.pagination-link:active {
  opacity: 0.3;
}

.pagination-current {
  color: #000000;
  background-color: #E5E5E5;
  border-color: #E5E5E5;
}

.sorting-type {
  display: flex;
  min-width: 287px;
  height: 48px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.on-page {
  margin-right: 52px;
}

.quantity-hotels {
  display: flex;
  width: 160px;
  padding-top: 13px;
  padding-right: 13px;
  padding-bottom: 13px;
  padding-left: 13px;
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.background-white {
  color: #000000;
  background-color: #FFFFFF;
  margin-bottom: 43px;
}

.background-white .sing-up {
  margin-top: 86px;
}

.background-white .sing-up-description {
  margin-top: 30px;
}

.background-white .newsletter-form {
  margin-top: 47px;
}

.button-white {
  color: #333333;
  background-color: #FFFFFF;
}

.form-form {
  display: flex;
}
