@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

.body-page {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.link {
  cursor: pointer;
}

.link::-moz-focus-inner,
.link::-moz-focus-inner {
  border: 0;
}

.link:hover,
.link:focus,
.link:active {
  outline: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button:hover {
  background-color: #68A2CA;
}

.button:focus {
  border: 3px solid #756257;
  background-color: #68A2CA;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
  background-color: #68A2CA;
}

.button-brown {
  background-color: #756257;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  background-color: #615048;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
  background-color: #615048;
}

.button-header {
  width: 160px;
  height: 37px;
  text-align: center;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1082px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 9px;
  margin-bottom: 4px;
}

.navigation-link {
  position: relative;
  padding-left: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 9px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  border: 3px solid transparent;
  background-color: inherit;
}


.navigation-link:hover {
  color: #756257;
  background-color: inherit;
}

.navigation-link:focus {
  color: #756257;
  border: 3px solid #83B3D3;
  border-radius: 10px;
  background-color: inherit;
}

.navigation-link:active {
  opacity: 0.3;
  color: #756257;
  background-color: inherit;
}

.navigation-link-current::before {
  position: absolute;
  right: 7px;
  bottom: -20px;
  left: 9px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.logo-main {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-self: center;
  min-width: 138px;
  margin-bottom: -25px;
  padding-top: 0;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.logo-main img {
  display: block;
  width: 100%;
  height: auto;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-user {
  justify-content: end;
  margin-bottom: 1px;
}

.navigation-user .navigation-item {
  margin-right: 1px;
  margin-top: 5px;
}

.navigation-user .navigation-item:last-of-type {
  margin-right: 13px;
  margin-left: 22px;
}

.navigation-user .navigation-link {
  padding: 16px;
}

.favorite-quantity {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  transform: translate(3px, -19px);
  background-color: #7DB54F;
  border-radius: 50%;
  border: none;
}

.popover {
  position: absolute;
  top: 59px;
  right: -183px;
  z-index: 1;
  display: none;
  box-sizing: border-box;
  width: 400px;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  min-height: 160px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
}

.popover-open {
  display: block;
}

.popover-content {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 20px 20px 0 0;
}

.popover-content:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  margin-left: -15px;
  border: 10px solid;
  border-color: transparent;
  border-bottom-color: #FFFFFF;
}

.favorite-items-list {
  display: grid;
  width: 390px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8px;
  margin-bottom: 17px;
  padding: 0;
  list-style-type: none;
}

.favorite-item {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.favorite-link {
  display: grid;
  grid-template-columns: 68px min-content;
  grid-template-rows: min-content auto;
  column-gap: 7px;
  box-sizing: border-box;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.favorite-link:hover {
  opacity: 0.6;
}

.favorite-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.favorite-link:active {
  opacity: 0.3;
}

.favorite-image {
  grid-column: 1/2;
  grid-row: 1/3;
  margin: auto;
  border-radius: 50%;
}

.favorite-hotel-title {
  grid-column: 2/3;
  grid-row: 1/2;
  min-width: 160px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.favorite-habitation {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0;
  margin-top: -7px;
  padding: 0;
}

.cart-item-button {
  position: relative;
  top: 4px;
  right: -2px;
  width: 36px;
  height: 36px;
  margin-top: 4px;
  margin-right: 12px;
  padding: 10px;
  box-sizing: border-box;
  border: 3px solid transparent;
  background-color: inherit;
}

.cart-icon {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin: auto;
  fill: rgba(0, 0, 0, 0.3);
}

.cart-item-button:hover .cart-icon {
  fill: #000000;
}

.cart-item-button:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.cart-item-button:active .cart-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.popover-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-weight: 400;
}

.popover-link {
  height: 60px;
  border-radius: 0 0 20px 20px;
}

.button-description {
  display: flex;
  justify-content: center;
  width: 160px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  box-sizing: border-box;
}

.main-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.main-container {
  flex-grow: 1;
  margin: 0 auto;
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: -1;
  width: 1200px;
  height: 485px;
  margin: 0 auto;
  background: url("../img/decoration-elements/decor-zigzag.svg") bottom no-repeat,
    url("../img/background-mountains.jpg") top no-repeat;

  background-color: #756257;
}

.welcome-sedona {
  display: block;
  padding-top: 50px;
  padding-bottom: 80px;
}

.main-title {
  width: 720px;
  margin: 0 auto;
  margin-top: 61px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.reasons {
  width: 720px;
  margin-bottom: 80px;
  margin-top: 33px;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
}

.advantage-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(4, 384px);
  margin: 0;
  padding: 0;
}

.advantage-first {
  grid-column: 1/4;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 400px 800px;
  grid-template-rows: repeat(2, 384px);
  list-style-type: none;
}

.advantage-first .advantage-blue {
  grid-column: 1/4;
  grid-row: 1/2;
}

.advantage-blue {
  grid-column: 1/4;
  display: flex;
  background-color: #83B3D3;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  list-style-type: none;
}

.advantage-blue .advantage-item {
  grid-column: 1/2;
}

.picture-sedona {
  grid-column: 2/4;
  display: block;
}

.advantage-title {
  width: 190px;
  margin: 0;
  margin-top: 96px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.font-white {
  color: #FFFFFF;
}

.number-advantage {
  margin: 0;
  margin-top: 29px;
  padding: 0;
}

.advantage-description {
  width: 230px;
  margin: 0;
  margin-top: 29px;
  padding: 0;
}

.recommendations-list {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.recommendation-description {
  margin-top: 18px;
}

.advantage-gray {
  background: rgba(131, 179, 211, 0.12);
}

.recommendations-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.recommendation-title {
  margin-top: 184px;
  position: relative;
}

.advantage-house::before {
  content: url("../img/icons/house.svg");
  position: absolute;
  left: 50%;
  top: -97px;
  display: block;
  width: 75px;
  height: 72px;
  margin-left: -38px;
}

.advantage-burger::before {
  content: url("../img/icons/burger.svg");
  position: absolute;
  left: 50%;
  top: -94px;
  display: block;
  width: 74px;
  height: 70px;
  margin-left: -37px;
}

.advantage-present::before {
  content: url("../img/icons/present.svg");
  display: block;
  position: absolute;
  left: 50%;
  top: -101px;
  width: 74px;
  height: 70px;
  margin-left: -37px;
}

.advantage-darkgray {
  background: rgba(131, 179, 211, 0.2);
}

.search-hotel {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding-bottom: 91px;
  align-items: center;
}

.title-search-hotel {
  margin: 0;
  margin-top: 88px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.search-hotel p:nth-of-type(2) {
  margin: 0;
  margin-top: 30px;
  font-size: 22px;
  line-height: 26px;
}

.search-hotel .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 575px;
  margin-top: 59px;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.section-newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 94px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #756257;
}

.newletter-image {
  background-image: url("../img/background-washed-out.jpg");
  background-repeat: no-repeat;
  background-color: #756257;
  color: #FFFFFF;
  background-size: 100%;
}

.sing-up {
  margin: 0;
  margin-top: 91px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sing-up-description {
  width: 500px;
  margin: 0;
  margin-top: 31px;
  text-align: center;
}

.newsletter-form {
  display: flex;
  width: 800px;
  margin-top: 47px;
}

.field-email {
  min-width: 600px;
  height: 60px;
  padding-left: 20px;
  padding-right: 19px;
  padding-bottom: 6px;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  box-sizing: border-box;
  background: #F2F2F2;
  border-color: transparent;
  border-radius: 10px 0px 0px 10px;
}

.field:hover {
  background-color: #E6E6E6;
  border-color: transparent;
}

.field:focus {
  background-color: #FFFFFF;
  border: none;
  outline: 2px solid #000000;
}

.field:active {
  border: none;
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.field-email:disabled,
.field-email:disabled:hover {
  color: #595959;
  background-color: #E6E6E6;
  border-color: #595959;
}

.field:invalid {
  box-shadow: none;
}

.field:focus:invalid {
  border: none;
  outline: 2px solid #FF5757;
}

.field::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
  box-sizing: border-box;
}

.newsletter-button {
  height: 60px;
  width: 200px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 27px;
  box-sizing: border-box;
}

.footer-social {
  width: 294px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 6px;
  margin-left: 8px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 4px;
}

.social-link {
  position: relative;
  padding: 20px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.social-link:hover {
  border-color: transparent;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #68A2CA;
}

.social-link:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px;
}

.social-link:active .social-icon {
  opacity: 0.3;
  fill: #68A2CA;
}

.social-link:active {
  border-color: transparent;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.footer-contacts-address {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-contacts-address-phone {
  display: flex;
  align-items: center;
  width: 361px;
  height: 70px;
  font-size: 40px;
  font-style: normal;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  color: #000000;
}

.footer-link {
  box-sizing: border-box;
  border: 3px solid transparent;
}

.footer-link:hover {
  color: #756257;
  outline: none;
}

.footer-link:focus {
  border: 3px solid #83B3D3;
  border-radius: 10px;
  outline: none;
}

.footer-link:active {
  color: #756257;
  opacity: 0.3;
}

.htmlacademy {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 270px;
  margin: 0;
  padding: 0;
}

.htmlacademy-link {
  position: relative;
  display: flex;
  align-items: center;
  width: 160px;
  height: 70px;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.htmlacademy-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding-top: 62px;
  padding-bottom: 70px;
  padding-right: 70px;
  padding-left: 68px;
  background-color: #FFFFFF;
}

.modal-search {
  width: 715px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  top: 56px;
  right: 70px;
  width: 53px;
  height: 53px;
  padding: 0;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  border: none;
}

.close-modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 13px;
  height: 13px;
  margin: auto;
  fill: #000000;
}

.modal-close-button:active .close-modal {
  fill: rgba(0, 0, 0, 0.3)
}

.modal-title {
  margin: 0;
  margin-bottom: 59px;
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.search-form .field-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

.modal-filter-label {
  padding-left: 2px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.search-form .field {
  height: 50px;
  background: #F2F2F2;
  border: 3px solid transparent;
  border-radius: 4px;
}

.field[type=date] {
  min-width: 420px;
  padding-left: 16px;
  padding-right: 14px;
  box-sizing: border-box;
}

.field[type=date]::-webkit-calendar-picker-indicator {
  width: 12px;
  height: 12px;
  color: transparent;
  opacity: 1;
  background: url("../img/icons/calender.svg") no-repeat center;
  background-size: contain;
}

.tip {
  margin: 0;
  margin-left: 157px;
  margin-top: 4px;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
}

.false {
  color: #FF5757;
}

.tip-close {
  display: none;
}

.form-quantity-visiter {
  display: grid;
  grid-template-columns: 157px 131px 102px min-content 133px;
  margin-bottom: 40px;
}

.form-quantity-visiter .modal-filter-label:nth-of-type(1) {
  grid-column: 1/2;
  margin-top: 5px;
}

.form-quantity-visiter .number:nth-of-type(1) {
  grid-column: 2/3;
}

.form-quantity-visiter .modal-filter-label:nth-of-type(2) {
  grid-column: 3/4;
  justify-self: end;
  margin-top: 5px;
}

.form-quantity-visiter .information {
  position: relative;
  grid-column: 4/5;
  align-self: center;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 18px;
  background-color: #83B3D3;
  border-radius: 50%;
  border: none;
  color: #FFFFFF;
}

.information:hover {
  background-color: #68A2CA;
}

.information:hover .information-content {
  display: block;
}

.information:focus .information-content {
  display: block;
}

.information-content {
  position: absolute;
  top: 41px;
  left: -115px;
  display: none;
  width: 216px;
  margin: 0;
  padding-top: 19px;
  padding-bottom: 24px;
  padding-left: 22px;
  padding-right: 18px;
  color: #FFFFFF;
  text-align: start;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.information-content:after {
  content: " ";
  position: absolute;
  left: 134px;
  bottom: 100%;
  width: 0;
  height: 0;
  margin-left: -15px;
  border: 9px solid;
  border-color: transparent;
  border-bottom-color: #333333;
}

.form-quantity-visiter .number:nth-of-type(5) {
  grid-column: 5/6;
}

.quantity-visiter-field {
  width: 133px;
}

.number {
  position: relative;
  display: flex;
  width: 133px;
  height: 50px;
}

.number .link {
  position: absolute;
  top: 13px;
  bottom: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.number-minus {
  left: 16px;
}

.number-plus {
  right: 15px;
}

.number-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  fill: rgba(0, 0, 0, 0.3);
}

.number .link:hover .number-icon {
  fill: #000000;
}

.number .link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.number .link:active .number-icon {
  fill: rgba(0, 0, 0, 0.2);
}

.quantity-visiter-field::-webkit-outer-spin-button,
.quantity-visiter-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.quantity-visiter-field {
  width: 133px;
  height: 50px;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  font-family: PT Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  box-sizing: border-box;
}


.modal-content .button {
  display: flex;
  align-items: center;
  text-align: center;
  height: 60px;
  margin-left: 2px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
}

.main-catalog {
  width: 1200px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.choice-hotels {
  display: flex;
  flex-direction: column;
  margin-bottom: 43px;
  padding-left: 65px;
  padding-right: 72px;
  padding-bottom: 68px;
  background-image: url("../img/catalog/background-mountains.jpg");
  background-repeat: no-repeat;
  color: #FFFFFF;
  background-color: #756257;
  background-size: 100%;
}

.inner-header-title {
  margin: 0;
  padding-left: 5px;
  padding-top: 36px;
  font-size: 60px;
  line-height: 67px;
  font-weight: 700;
}

.breadcrumbs {
  position: relative;
  display: flex;
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  margin-right: 17px;
}

.breadcrumbs-link {
  position: relative;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.home {
  width: 28px;
  height: 27px;
}

.breadcrunbs-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #FFFFFF;
}

.breadcrumbs-item:first-of-type::before {
  content: url("../img/icons/right-arrow.svg");
  position: absolute;
  left: 31px;
  width: 5px;
  height: 8px;
  top: 0px;
}

.catalog-filter {
  display: flex;
  margin-left: 6px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(1) {
  margin-right: 67px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 169px;
}

.catalog-filter-group:nth-child(3) {
  margin-right: 81px;
}

.catalog-filter-group:nth-child(4) {
  display: grid;
}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.range-scale {
  position: relative;
  top: 81px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #FFFFFF;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  position: relative;
  display: flex;
  justify-content: center;
  height: 48px;
}

.catalog-filter-label {
  display: flex;
  position: relative;
}

.range-input {
  width: 143px;
  padding-left: 17px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: inherit;
  background-color: transparent;
  appearance: textfield;
  outline: 2px solid #FFFFFF;
  box-sizing: border-box;
  border: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.range-input:hover {
  outline-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  box-shadow: 0px 0px 0px 3px #81B3D2;
  border-radius: 4px 0px 0px 4px
}

.range-input:active {
  background: #756257;
  outline: 2px solid #FFFFFF;
  border-radius: 4px 0px 0px 4px
}

.input-from {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-to {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}

.input-to:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 3px 0px 0px 0px #81B3D2;
  border-radius: 4px 0px 0px 4px
}

.value {
  position: absolute;
  right: 16px;
  top: 25%;
  opacity: 0.3;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 14px;
  height: 14px;
  border: 3px solid transparent;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:disabled+.control-mark {
  background-color: #FFFFFF;
}

.control-input[type="checkbox"]:checked+.control-mark {
  background-image: url("../img/icons/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.control-input[type="radio"]+.control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: " ";
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-item {
  padding-bottom: 14px;
}

.price {
  display: flex;
}

.catalog-filter-input {
  width: 114px;
  padding-top: 11px;
  padding-left: 17px;
  padding-bottom: 14px;
  padding-right: 10px;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
  border: 2px solid #FFFFFF;
}

.search-parameters {
  background-color: #E5E5E5;
}

.submit-apply {
  display: flex;
  justify-content: center;
  min-width: 160px;
  height: 48px;
  margin-top: 61px;
  padding-right: 5px;
  padding-left: 5px;
  box-sizing: border-box;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  background: #83B3D3;
  border-radius: 4px;
  border: none;
}

.submit-apply:hover {
  background-color: #68A2CA;
}

.submit-apply:focus {
  border: 3px solid #FFFFFF;
  border-radius: 4px;
  background-color: #68A2CA;
}

.submit-apply:active {
  opacity: 0.3;
  border: transparent;
  background-color: #68A2CA;
}

.reset-apply {
  justify-self: center;
  width: 100px;
  height: 32px;
  margin-top: 5px;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: 3px solid transparent;
}

.reset-apply:hover {
  opacity: 0.6;
}

.reset-apply:focus {
  box-sizing: border-box;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.reset-apply:active {
  opacity: 0.3;
  border: #83B3D3;
}

.output-area,
.hoteloutput {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.search-results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 43px;
  padding: 0;
  box-sizing: border-box;
}

.output-area {
  min-width: 529px;
}

.output-field {
  margin: 0;
  margin-top: 4px;
  padding: 0;
}

.select-control {
  display: flex;
  width: 287px;
  padding-top: 9px;
  padding-right: 13px;
  padding-bottom: 10px;
  padding-left: 17px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  appearance: none;
}

.select:hover {
  border-radius: 4px;
  border: 2px solid #83B3D3;
  box-sizing: border-box;
  outline: none;
}

.select:focus {
  box-sizing: border-box;
  border: 2px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.select:active {
  box-sizing: border-box;
  opacity: 0.6;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  outline: none;
}

.select:active .sort-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.visually-card-hotel {
  display: flex;
  margin-left: 71px;
  margin-top: 1px;
}

.button-gray {
  display: flex;
  background-position: center;
  width: 45px;
  height: 45px;
  margin-left: 9px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.card-grid-toggle {
  border: 2px solid #000000;
  border-radius: 4px;
}

.title {
  background-image: url("../img/decoration-elements/title.svg");
  background-repeat: no-repeat;
}

.item {
  background-image: url("../img/decoration-elements/item.svg");
  background-repeat: no-repeat;
}

.list {
  background-image: url("../img/decoration-elements/list.svg");
  background-repeat: no-repeat;
}

.hotel-cards {
  width: 1200px;
  margin: 0;
  padding: 0;
  padding-left: 71px;
  padding-right: 71px;
  box-sizing: border-box;
}

.hotel-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 180px 21px 150px auto min-content;
  grid-template-rows: min-content auto min-content;
  column-gap: 8px;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  padding-bottom: 31px;
  border-top: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.hotel-card-image {
  grid-row: 1/-1;
  grid-column: 1/2;
  display: block;
  width: 100%;
  height: auto;
  margin-top: 3px;
}

.hotel-card-link {
  grid-row: 1/2;
  grid-column: 3/5;
  align-self: start;
  margin-bottom: 2px;
  text-decoration: none;
  font-size: 21px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.product-card-title {
  margin: 0;
  padding: 0;
}

.habitation {
  grid-row: 2/3;
  grid-column: 3/5;
  margin: 0;
  margin-bottom: 31px;
}

.start-price {
  grid-row: 2/3;
  grid-column: 4/5;
  margin: 0;
}

.hotel-card .button {
  grid-row: 3/4;
  grid-column: 4/5;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-right: auto;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 11px;
  width: 160px;
  height: 37px;
}

.hotel-card .button-brown {
  grid-row: 3/4;
  grid-column: 3/4;
  width: 151px;
  display: block;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

.button-green {
  background-color: #7DB54F;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:focus {
  border: 3px solid #756257;
  background-color: #6C9E42;
}

.button-green:active {
  opacity: 0.3;
  background-color: #6C9E42;
}

.rating {
  grid-row: 1/2;
  grid-column: -2/-1;
  justify-self: center;
  margin-top: 5px;
  background-image: url("../img/decoration-elements/star.svg");
  background-repeat: space;
}

.rating-one {
  width: 20px;
}

.rating-two {
  width: 44px;
}

.rating-three {
  width: 68px;
}

.rating-four {
  width: 88px;
}

.rating-five {
  width: 104px;
}

.rating-description {
  grid-row: 3/4;
  grid-column: -2/-1;
  display: block;
  text-align: center;
  width: 160px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
}

.download-more {
  display: flex;
  justify-content: center;
  width: 1056px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.button-download {
  justify-content: center;
  min-width: 625px;
  padding-top: 11px;
  padding-right: 16px;
  padding-bottom: 13px;
  padding-left: 16px;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 26px;
}

.pagination-hotels {
  display: flex;
  justify-content: space-between;
  width: 1057px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  border: 3px solid #756257;
}

.pagination-link:active {
  opacity: 0.3;
}

.pagination-current {
  color: #000000;
  background-color: #E5E5E5;
  border-color: #E5E5E5;
}

.sorting-type {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 287px;
  height: 48px;
  margin: 0;
  margin-top: 3px;
  padding: 0;
}

.on-page {
  margin-right: 52px;
}

.quantity-hotels {
  display: flex;
  width: 160px;
  padding-top: 13px;
  padding-right: 35px;
  padding-bottom: 13px;
  padding-left: 16px;
  box-sizing: border-box;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  appearance: none;
}

.sort {
  position: absolute;
  right: 15px;
  background-color: transparent;
  border: none;
}

.quantity-hotels::-webkit-outer-spin-button,
.quantity-hotels::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.sort-icon {
  width: 12px;
  height: 7px;
  fill: rgba(0, 0, 0, 0.6)
}

.background-white {
  color: #000000;
  background-color: #FFFFFF;
  margin-bottom: 43px;
}

.background-white .sing-up {
  margin-top: 88px;
}

.background-white .sing-up-description {
  margin-top: 30px;
}

.background-white .newsletter-form {
  margin-top: 49px;
}

.button-white {
  color: #333333;
  background-color: #FFFFFF;
}

.form-form {
  display: flex;
}
